$padding: 20px;
*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(242, 246, 248);
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.header p {
    font-size: 2rem;
    text-align: center;
    padding: 20px 0;
}

.contenedor{
    //width: 90%;
    max-width: 1500px;
    border: 1px solid #ccc;
    margin: auto;
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
}

.contenedor > div{
    display: block;
    //padding: 20px;
    color: rgb(71, 68, 68);
    background: #2f89fc;
    box-shadow: 2px 2px 10px rgba(0,0,0,.25);
}


.contenedor{
    display: grid;
    gap: 8px;
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas: "header header header"
                         "sidebar-1 sidebar-2 contenido"
                         "sidebar-1 sidebar-2 widgets"
                         "footer footer footer";

    .item1{
        padding: $padding;
        background: rgb(166, 193, 201);
        grid-column: header; //header / header;
    }
    .item2{
        padding: $padding;
        min-width: 200px;
        background: rgb(255, 255, 255);
        grid-area: sidebar-1; //sidebar-1 / sidebar-1 / sidebar-1 / sidebar-1;
    }
    .item3{
        padding: $padding;
        background: rgb(255, 255, 255);
        color: #000;
        grid-area: contenido;
    }
    .item4{
        padding: $padding;
        background: rgb(255, 255, 255);
        grid-area: widgets;
    }
    .item5{
        background: rgb(197, 218, 233);
        grid-area: sidebar-2;
        
    }
    .item6{
        background: rgb(124, 139, 146);
        grid-area: footer;
    }
    // //grid-template-columns: repeat(6, 1fr);
    // grid-template-columns: 200px repeat(4, 1fr) 200px;
    // grid-template-rows: repeat(3, 1fr);
    //grid-template-columns: repeat(4,1fr);
    //grid-template-rows: repeat(3,1fr);
    // .item1{
    //     background: orange;
    //     // grid-column-start: 1;
    //     // grid-column-end: 4;
    //     // grid-row-start: 2;
    //     // grid-row-end: 4;
    //     //Shortcut
    //     grid-column: 1 / 4;
    //     grid-row: 2 / 4;
    // }
    // .item9{
    //       grid-column: 2 / 3;
    //       grid-row: 4 / span 2;
    // //    grid-area: 4 / 2 / 6 / 3;
    // }
    // .item10{
    // //     grid-column: 3 / 4;
    // //     grid-row: 4 / 6;
    //     grid-area: 4 / 3 / 6 / 4;
    // }
    // .item11{
    // //     grid-column: 4 / 5;
    // //     grid-row: 4 / 6;
    //     grid-area: 4 / 4 / 6 / 5; 
    // }
}